@keyframes opac {
	0% {
		opacity: 1;
	}

	55%,
	100% {
		opacity: 0;
	}
}

.projects {
	display: flex;
	align-items: center;
	background-color: #fff;
	height: auto;
	overflow: hidden;
	position: relative;
}

.projectBook {
	display: flex;
	flex-wrap: wrap;
	transition: all 600ms;
	align-items: center;
	align-items: center;
	justify-content: center;
}

.projectShelfCard {
	display: flex;
	justify-content: center;
	flex-basis: 220px;
	align-self: stretch;
	margin: 2px;
}

.projectShelfCard:nth-child(even) {
	flex-grow: 3;
}

.projectShelfCard:nth-child(odd) {
	flex-grow: 1;
}

.projectShelfCard img {
	width: 100%;
	transition: all 600ms;
}

.cardFlip {
	transform: rotateX(180deg);
	animation: opac 400ms forwards;
}

.projectShelfTitle {
	position: absolute;
	text-align: center;
	align-self: center;
	opacity: 0;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	transition: all 500ms;
}

.hide {
	opacity: 0.3;
	transition: opacity 200ms;
}

.show {
	opacity: 1;
	transition: all 200ms;
}

.getRidOf {
	display: none;
	transition: display 600ms;
}

.projectPresent {
	height: auto;
	display: flex;
	transition: all 600ms;
}

.projectPresent img {
	overflow: hidden;
}

.leftContent,
.rightContent {
	width: 50%;
	position: relative;
}

.rightContent {
	padding: 20px;
}

.rightContent h3 {
	text-align: center;
}

.close {
	position: absolute;
	top: 0;
	right: 20px;
	border: none;
	padding: 20px;
	font-size: 1em;
	outline: none;
}

.close .highlight:hover {
	transform: scale(1.1);
	color: red;
	transition: all 200ms;
}
