@keyframes opac {
	0% {
		opacity: 1;
	}

	55%,
	100% {
		opacity: 0;
	}
}

.projects {
	align-items: center;
	background-color: #fff;
}

.projectBook {
	columns: 3;
	column-gap: 3px;
	transition: all 600ms;
}

.projectShelfCard {
	display: flex;
	position: relative;
	break-inside: avoid;
	margin-bottom: 3px;
	justify-content: center;
}

.projectShelfCard img {
	max-width: 100%;
	transition: all 600ms;
}

.cardFlip {
	transform: rotateX(180deg);
	animation: opac 400ms forwards;
}

.projectCardText {
	position: absolute;
	top: 0;
	padding: 30px 40px;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
	transition: all 500ms;
}

.projectCardTitle {
	margin: 20px 0;
	padding-bottom: 14px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px solid rgba(192, 192, 192, 0.548);
}

.projectDesc {
	font-size: 0.9em;
	margin-bottom: 13px;
	color: var(--dark-gray);
	letter-spacing: 0.04em;
}

.projectCardList {
	position: absolute;
	bottom: 40px;
	right: 10px;
	list-style: none;
	opacity: 0;
}

.projectCardList li {
	display: inline-block;
	padding: 6px 12px;
}

.projectCardList a {
	text-decoration: none;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.16em;
}

a::after {
	content: '';
	width: 100px;
	height: 9px;
	border-bottom: 3px solid var(--gold);
}

.hide {
	opacity: 0.3;
	transition: opacity 200ms;
}

.show {
	opacity: 1;
	transition: all 200ms;
}

.getRidOf {
	display: none;
	transition: display 600ms;
}
