.skills {
	position: relative;
	display: flex;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 50px;
	margin-bottom: 50px;
}

.skillCards {
	text-align: center;
	margin: 0 auto;
}

.skillCard {
	display: inline-block;
	width: 20%;
	margin: 10px;
	border-radius: 5px;
	height: 200px;
	text-align: center;
}

.skillCard img {
	min-width: 80px;
	width: 80px;
}

@media only screen and (max-width: 568px) {
	.skillCard {
		display: none;
	}
}
