@import '../../App.scss';

.skills {
	position: relative;
	display: flex;
	grid-template-columns: repeat(8, 1fr);
	padding: 0 50px;
	margin-bottom: 50px;
}

.skillCards {
	text-align: center;
	margin: 0 auto;
}

.skillCard {
	padding: 0 10px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	height: 200px;
	text-align: center;
}

.skillCard img {
	width: 60px;
}

table {
	text-align: left;
}

th {
	background-color: $black;
	color: $off-white;
	padding: 4px;
}

@media only screen and (max-width: 568px) {
	.skillCard {
		display: none;
	}
}
