@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500|Quattrocento:400,700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Quattrocento', serif;
*/

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400|Playfair+Display&display=swap');

/*
font-family: 'Playfair Display', serif;
font-family: 'Muli', sans-serif;
*/
