@import '../../App.scss';

.about {
	display: flex;
	margin: 65px 0;
	flex-flow: column;
	padding: 90px 40px;

	.topContent {
		width: 90%;
		line-height: 2.5em;

		h4 {
			font-weight: lighter;
			letter-spacing: 0.007em;
		}

		.quote {
			font-family: $font-header;
			font-style: italic;
			font-weight: 600;
		}
	}
}

@media only screen and (max-width: 768px) {
	.about {
		padding: 20px;

		.topContent h4 {
			font-size: 1.2em;
		}
	}
}

@media only screen and (max-width: 568px) {
	.about {
		flex-flow: column;
		align-items: center;
	}
}
