.about {
	display: flex;
	margin-top: 65px;
	padding-bottom: 50px;
	flex-flow: column;
	grid-template-areas: 'top top' 'left right';
}

.topContent {
	text-align: center;
	grid-area: top;
	padding: 14px;
	margin-bottom: 20px;
	width: 100%;
	border-top: 3px solid var(--black);
	border-bottom: 3px double var(--black);
}

.topContent h3 {
	font-size: 1.8em;
	font-weight: lighter;
	letter-spacing: 0.007em;
}

.aboutRightContent {
	position: relative;
	padding: 20px;
}

.aboutTextWrap {
	display: flex;
	flex-flow: column;
	text-align: left;
	position: relative;
	min-height: 86px;
}

.aboutTextWrap h2 {
	font-size: 2.5em;
}

.aboutTextWrap .quote {
	font-size: 1.2em;
	width: 98%;
	line-height: 1.6em;
	font-weight: 500;
	font-style: italic;
	text-align: center;
	margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
	.aboutTextWrap {
		font-weight: 600;
		font-size: 95%;
		height: fit-content;
	}

	.aboutRightContent {
		left: -28%;
	}
}

@media only screen and (max-width: 768px) {
	.aboutLeftContent {
		margin-left: 50px;
		margin-top: 50px;
	}

	.aboutRightContent {
		left: -35%;
	}

	.aboutRightContent h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 568px) {
	.about {
		flex-flow: column;
		align-items: center;
	}

	.aboutLeftContent,
	.aboutRightContent {
		width: 100%;
		left: 0;
		margin-left: 0;
		max-width: 100%;
	}

	.aboutTextWrap {
		text-align: center;
		width: auto;
		margin: 0;
	}

	.aboutTextWrap p {
		position: relative;
		width: 100%;
		padding: 0 10px;
	}

	.profileImage {
		width: 100%;
		max-height: auto;
	}

	.socialLinks li {
		display: inline-block;
	}
}
