.about {
	display: grid;
	margin-top: 65px;
	padding-bottom: 50px;
}

.topContent {
	margin: 0 auto;
	padding-bottom: 30px;
}

.aboutLeftContent {
	display: flex;
	align-items: flex-start;
	overflow: hidden;
}

.aboutRightContent {
	position: relative;
	padding: 20px;
}

.aboutTextWrap {
	display: flex;
	flex-flow: column;
	text-align: left;
	position: relative;
	height: 109px;
	min-height: 86px;
	width: 483px;
}

.aboutTextWrap h2 {
	font-size: 2.5em;
}

.aboutTextWrap p {
	font-size: 1em;
	right: 0;
	bottom: 0;
	text-align: right;
}

.profileImage {
	width: 400px;
	position: relative;
}

@media only screen and (max-width: 1024px) {
	.aboutTextWrap {
		font-weight: 600;
		font-size: 95%;
		height: fit-content;
	}
	.aboutRightContent {
		left: -28%;
	}
}

@media only screen and (max-width: 768px) {
	.aboutLeftContent {
		margin-left: 50px;
		margin-top: 50px;
	}

	.aboutRightContent {
		left: -35%;
	}

	.aboutRightContent h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 568px) {
	.about {
		flex-flow: column;
		align-items: center;
	}

	.aboutLeftContent,
	.aboutRightContent {
		width: 100%;
		left: 0;
		margin-left: 0;
		max-width: 100%;
	}

	.aboutTextWrap {
		text-align: center;
		width: auto;
		margin: 0;
	}

	.aboutTextWrap p {
		position: relative;
		width: 100%;
		padding: 0 10px;
	}

	.profileImage {
		width: 100%;
		max-height: auto;
	}

	.socialLinks li {
		display: inline-block;
	}
}
