.contactContainer {
	padding: 50px;
	height: 80vh;
	display: flex;
}

form {
	display: flex;
	width: 90%;
	margin: 0 auto;
}

.leftContact {
	flex-basis: 50%;
	text-align: center;
	border-right: 1px solid #dadada;
}

.leftContact h3 {
	margin-bottom: 40px;
}

.rightContact {
	position: relative;
	flex-basis: 50%;
}

input,
textarea {
	display: block;
	height: 30px;
	width: 80%;
	padding: 16px 12px;
	border: 1px solid transparent;
	border-bottom: 1px solid #dadada;
	outline: none;
	margin: 20px auto;
	line-height: 2.4em;
	font-size: 0.8em;
	letter-spacing: 0.07em;
}

::placeholder {
	color: rgb(182, 182, 182);
}

textarea {
	height: 100%;
	width: 90%;
	border: none;
	font-size: 0.9em;
}

button {
	position: absolute;
	bottom: 0;
	height: 50px;
	background-color: var(--black);
	width: 100%;
	border: transparent;
	color: var(--white);
	text-transform: uppercase;
	outline: none;
}