header {
	position: absolute;
	width: 100vw;
  z-index: 999;
  padding: 10px;
  
}

nav {
	width: -webkit-fill-available;
	transition: all 100ms;
  z-index: 999;
  
}

nav a {
	color: var(--black);
	text-decoration: none;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

nav a:visited {
	color: var(--black);
}

nav ul li {
	display: inline-block;
	padding: 6px 10px;
}

.navLinks {
	float: right;
}

nav img {
  width: 20px;
  position: relative;
  top: 4px;
}

#twitterIcon {
	fill: red;
}
