header {
	display: flex;
	width: 100%;
	z-index: 999;
	padding: 10px;
}

nav {
	display: flex;
	z-index: 999;
	text-align: center;
	justify-content: center;
	width: 100%;
	margin: auto;
	padding-top: 40px;
	transition: all 300ms forwards;
}

nav a {
	color: var(--black);
	text-decoration: none;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

nav a:visited {
	color: var(--black);
}

nav li {
	padding: 6px 10px;
	list-style: none;
}

nav li:nth-child(5),
nav li:nth-child(6),
nav li:nth-child(7) {
	display: inline-block;
}

.navLinks {
	float: right;
}

nav img {
	width: 20px;
	position: relative;
	top: 4px;
}

.menuIcon {
	position: absolute;
	top: 0;
	right: 0;
}
