.heading {
	background-color: #2a2b2e;
	height: 100vh;
	display: flex;
}

.headingTitle {
	color: var(--white);
	align-self: baseline;
	align-items: center;
	justify-content: center;
	margin: auto;
	font-size: 2em;
}

.headingTitle h1 {
	font-size: 3em;
	margin: -10px 0 -10px;
}

.highlight {
	color: var(--gold);
	font-style: italic;
}

.headingTitle p {
	font-size: 0.4em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.7em;
}

.alignRight {
	text-align: right;
}
