:root {
	--black: #2a2b2e;
	--dark-gray: #4a4c52;
	--gold: #f2d492;
	--white: #f5f1e3;
	--blush: #cebebe;
}

*,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Muli', sans-serif;
	position: relative;
}

main {
	overflow-x: hidden;
	position: relative;
	max-width: 90%;
	margin: 0 auto;
}
p section {
	height: 100%;
	width: 100%;
	z-index: 2;
	padding-bottom: 70px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Quattrocento', serif;
	/* font-family: 'Muli', sans-serif; */
}

h1 {
	font-weight: 300;
	font-size: 4.8em;
}

h2 {
	font-size: 3.2em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.8em;
}

a:hover {
	font-weight: 600;
}

a:visited {
	color: var(--white);
}

/* .sectionTitle {
	background: url('./images/headerImg.jpeg');
	background-attachment: fixed;
} */

.sectionTitle h3,
.sectionTitle h2 {
	display: flex;
	background-color: #fff;
	font-weight: 300;
	color: black;
	/* mix-blend-mode: screen; */
	font-size: 1.2em;
	font-family: 'Muli', sans-serif;
	border-bottom: 1px solid #dedede;
	padding-bottom: 12px;
	margin-bottom: 22px;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
}

section,
footer {
	width: 80%;
	float: right;
}

::-webkit-scrollbar {
	background: transparent;
}

@media only screen and (max-width: 768px) {
	.sectionTitle h3 {
		font-size: 1.6em;
	}

	section,
	footer {
		width: 100%;
		float: none;
	}
}
