:root {
	--black: #2a2b2e;
	--dark-gray: #4a4c52;
	--gold: #f2d492;
	--white: #f5f1e3;
	--blush: #cebebe;
}

*,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Muli', sans-serif;
	position: relative;
}

main {
	position: relative;
}

section {
	height: 100%;
	width: 100vw;
	z-index: 2;
	padding-bottom: 70px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Quattrocento', serif;
}

h1 {
	font-weight: 300;
	font-size: 4.8em;
}

h2 {
	font-size: 3.2em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.8em;
}

a:hover {
	font-weight: 600;
}

a:visited {
	color: var(--white);
}

.sectionTitle {
	background: url('./images/headerImg.jpeg');
	background-attachment: fixed;
}

.sectionTitle h3 {
	display: flex;
	justify-content: center;
	background-color: #fff;
	font-weight: 500;
	color: black;
	mix-blend-mode: screen;
}

@media only screen and (max-width: 767px) {
	.sectionTitle h3 {
		font-size: 1.6em;
	}
}
